body {
    padding-top: 40px;
}

.navbar {
    z-index: 10000;
}
.navbar-inverse .navbar-inner {
    margin-left: 0px;
    color: #e78f88;
    background-image: linear-gradient(to bottom,#c32519,#a5170b);
    background-repeat: repeat-x;
    border-color: #a5170b;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
    color: #f3d8d6;
    text-shadow: none;
}

.navbar-inverse .brand {
    color: #e78f88;
    margin-left: 0;
}

#main {
    padding: 10px;
    margin-top: 24px;
}

#submenu {
    background: #efefef;
    padding-left: 8px;
    width: 100%;
    z-index: 10000;
}
    #submenu ul {
        list-style: none;
        margin: 0;
    }
        #submenu li {
            display: inline;
            margin: 0;
            padding: 0;
        }
            #submenu .btn {
                border: 0;
                background: transparent;
                box-shadow: none;
                padding: 7px 11px;
            }

.loading {
    display: block;
    font-size: 15px;
    font-family: monospace;
    margin: 10px;
}

.list-action-view table td:first-child {
    text-align: center;
    width: 30px;
}
.list-action-view table.sortable th {
    cursor: pointer;
}
.list-action-view table th.sorted {
    background: url(asc.gif) center right no-repeat;
}
.list-action-view table th.sorted.desc {
    background-image: url(desc.gif);
}

.list-action-view .sidebar {
    padding-top: 20px;
}

.toolbar {
    background: #fff;
    width: 100%;
}
.toolbar.affix {
    border-bottom: 1px solid #eee;
}

.form-action-view,
.model-action-view {
    position: relative;
}
    .form-action-view > .toolbar,
    .model-action-view > .toolbar {
        position: absolute;
        right: 10px;
        top: 0px;
        width: auto;
    }

#overlay {
    position: absolute;
    opacity: .4;
    background: #fff url(ajax-loader.gif) center center no-repeat;
    z-index: 5000;
}

.form-action-view select.localizer {
    width: 70px;
    margin-right: 10px;
    vertical-align: top;
}

.form-action-view textarea {
    height: 100px;
}

.modal {
    width: 800px;
    margin-left: -400px;
}

.form-action-view .control-label {
    font-weight: bold;
}

.form-action-view .controls .valign {
    line-height: 30px;
}

.form-action-view .nav-tabs {
    width: 250px;
}

.help-block {
    color: #aaa;
}

.table-wrapper {
    overflow: auto;
}

.related-hover {
    position: relative;
}
    .related-hover > div {
        display: none;
    }
    .related-hover:hover > div {
        display: block;
        position: absolute;
        padding: 5px;
        background: #fff;
        z-index: 1000;
    }

textarea.localized + .cke {
    display: inline-block;
    width: 530px;
}