body {
    padding-top: 40px;
}

.navbar-inverse .navbar-inner {
    margin-left: 0px;
    color: #e78f88;
    background-image: linear-gradient(to bottom,#c32519,#a5170b);
    background-repeat: repeat-x;
    border-color: #a5170b;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
    color: #f3d8d6;
    text-shadow: none;
}

.navbar-inverse .brand {
    color: #e78f88;
    margin-left: 0;
}

#main {
    padding: 10px;
}

#submenu {
    background: #efefef;
    padding-left: 8px;
}
    #submenu ul {
        list-style: none;
        margin: 0;
    }
        #submenu li {
            display: inline;
            margin: 0;
            padding: 0;
        }
            #submenu .btn {
                border: 0;
                background: transparent;
                box-shadow: none;
                padding: 7px 11px;
            }

.loading {
    display: block;
    font-size: 15px;
    font-family: monospace;
    margin: 10px;
}

.list-action-view table td:first-child {
    text-align: center;
    width: 30px;
}
.list-action-view table.sortable th {
    cursor: pointer;
}
.list-action-view table th.sorted {
    background: url(asc.gif) center right no-repeat;
}
.list-action-view table th.sorted.desc {
    background-image: url(desc.gif);
}

.list-action-view .sidebar {
    padding-top: 20px;
}

.form-action-view,
.object-action-view {
    position: relative;
}
    .form-action-view > .btn-toolbar,
    .object-action-view > .btn-toolbar {
        position: absolute;
        right: 10px;
        top: 0px;
    }

#overlay {
    position: absolute;
    opacity: .4;
    background: #fff;
    z-index: 10000;
}

.form-action-view select.localizer {
    width: 70px;
    margin-right: 10px;
    vertical-align: top;
}

.form-action-view textarea {
    height: 100px;
}

.modal {
    width: 800px;
}

.form-action-view .control-label {
    font-weight: bold;
}

.form-action-view .controls .value {
    line-height: 30px;
}