body {
    padding-top: 40px;
}

.navbar .brand {
    margin-left: 0px;
}

.controller {
    position: relative;
}
    .controller > .btn-toolbar {
        background: #efefef;
        margin: 0;
        padding-left: 8px;
    }
        .controller > .btn-toolbar .btn {
            border: 0;
            background: transparent;
            box-shadow: none;
            padding: 7px 11px;
        }
    .controller > .body {
        padding: 10px;
    }
        .controller > .body > .btn-toolbar {
            margin: 0;
            margin-bottom: 7px;
        }

.loading {
    display: block;
    font-size: 15px;
    font-family: monospace;
    margin: 10px;
}
