<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to Nucleus Dashboard!{% endblock %}</title>
        {% block stylesheets %}
          {{ nucleus_asset() }}
        {% endblock %}
        {% block javascripts %}
          {{ nucleus_asset(

             ) 
          }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="/asset/images/favicon.ico" />
    </head>
    <body>
        <div class="container"></div>
        <div class="menu"></div>
        {% block body %}
        <script type="text/javascript">
            /* <![CDATA[ */
            var App;
            (function($) {
                App = {};
                App.Nucleus = new Nucleus.Controller(
                    {
                        mainContainer: $('body div.container'),
                        menuContainer: $('body div.menu')
                    }
                );
                App.Nucleus.load({url: "{{ result }}"});
            })(jQuery);
            /* ]]> */
            </script>
        {% endblock %}
        </body>
    </html>
